aiohttp==3.9.1
aiosignal==1.3.1
appdirs==1.4.4
appnope==0.1.3
asttokens==2.4.1
attrs==23.1.0
bcrypt==4.1.2
blinker==1.6.2
cachelib==0.12.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
DateTime==5.5
debugpy==1.8.0
decorator==5.1.1
dnspython==2.6.1
dpkt==1.9.8
executing==2.0.1
Flask==2.3.3
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-PyMongo==2.3.0
Flask-Session==0.8.0
fonttools==4.46.0
frozenlist==1.4.1
geoip2==4.8.0
gunicorn==22.0.0
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab-widgets==3.0.9
jwt==1.3.1
kiwisolver==1.4.5
lxml==4.9.4
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
maxminddb==2.5.1
msgspec==0.18.6
multidict==6.0.4
mypy==1.8.0
mypy-extensions==1.0.0
nest-asyncio==1.5.8
numpy==1.26.2
packaging==23.2
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.0.0
prettytable==3.9.0
prompt-toolkit==3.0.41
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyan3==1.2.0
pycodestyle==2.11.1
pycodestyle_magic==0.5
pycparser==2.22
pydeps==1.12.17
Pygments==2.17.2
pymongo==4.6.3
pyparsing==3.1.1
pyshorteners==1.0.1
python-dateutil==2.8.2
pytz==2024.1
pyzmq==25.1.1
requests==2.31.0
scipy==1.11.4
simplekml==1.3.6
six==1.16.0
stack-data==0.6.3
stdlib-list==0.10.0
termcolor==2.4.0
tornado==6.3.3
traitlets==5.14.0
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.12
Werkzeug==2.3.7
widgetsnbextension==4.0.9
yarl==1.9.4
zope.interface==6.2
